{% extends 'base.html.twig' %}

{% block title %}Tipico Simulators{% endblock %}

{% block body %}

    <h1>{{ simulator.identifier }}</h1>
    <div class="table-container">
        <table class="styled-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Home</th>
                <th></th>
                <th>Away</th>
                <th>Odds</th>
{#                <th>1</th>#}
{#                <th>X</th>#}
{#                <th>2</th>#}
                <th>Result</th>
                <th>Output</th>
                <th>Goals</th>
                <th>Search</th>
            </tr>
            </thead>
            <tbody>
            {% for placement in placements %}
                {{ component('Placement', {'placement' : placement, 'currentCashBox' : cashBoxValues[loop.index-1]}) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
