{% extends 'base.html.twig' %}

{% block title %}Tipico Simulators{% endblock %}

{% block body %}
    <div class="weekday-container">
        <table>
            {% for simulator in topWeekDaySimulators %}
                <tr>
                    <td>
                        <a href="{{ path('app_tipico_simulation_detail', {simulator: simulator.id}) }}">{{ simulator.id }}</a>
                    </td>
                    <td>
                        <a href="{{ path('app_tipico_simulation_statistic', {simulator: simulator.id}) }}">{{ simulator.id }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
