{% extends 'base.html.twig' %}

{% block title %}Hello EvaluationController!{% endblock %}

{% block body %}
<style>
    label {
        margin-right: 15px;
    }
    .form-row{
        margin-top: 40px;
        border-bottom: 1px solid black;
        padding: 10px;
    }
</style>

<div class="example-wrapper">
    {{ form (form) }}
</div>
{% endblock %}
