$positive: #769467;
$negative: #FF32324C;
$neutral: #A28E04D1;
$headerColor: #2A3954FF;

body {
    background-color: #343434;
    color: #ffffff;
}
.table-container{
    //margin: 15px;
    .styled-table {
        //border-collapse: collapse;
        //margin: 25px 0;
        //font-size: 0.9em;
        //font-family: sans-serif;
        min-width: 100%;
        //box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #2d2929;
        color: #ffffff;
        text-align: left;
    }

    .styled-table tr {
        border: 1px #858585 solid;

    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .transaction {
        display: flex;
        align-items: center;

        padding: 3px;
        .icon {
            margin-right: 10px; // Add some space between icon and amount
            svg {
                width: 20px;
                height: 20px;
            }
        }

        .amount {
            font-size: 18px;
        }


        &.increase{
            background-color: $positive;
        }
        &.decrease{
            background-color: $negative;
        }
    }

    .winner-team{
        font-weight: bold;
    }

    .game-result {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-container {
            display: flex;
            border: black solid 2px;
            padding: 2px;

            .icon {
                width: 30px;
                height: 30px;
            }

            .home-win path,
            .away-win path {
                fill: green; /* Change the color as per your preference */
            }

            .draw circle {
                fill: gray; /* Change the color as per your preference */
            }
        }
    }
}

.simulator-name{
    display: flex;
    flex-direction: column;
}



.switchable-content{
    border: 2px black solid;

    .switchable-content-header{
        max-width: 25%;
        min-height: 25px;
        background-color: black;
    }
    .active{
        display: block;
    }

    .inactive{
        display: none;

    }
}


.key-value-listing{
    color: white;
    .key-value-listing-row-even{
        //background-color: #e0e0e0;
    }
}

.week-statistic{
    .week-change-total{
        margin-bottom: 5px;
        font-size: 1.3em;
        font-weight: bold;
    }
    .week-change-container{
        max-width: fit-content;
        display: flex;
        font-size: 0.8em;
        font-weight: normal;
        .week-statistic-entry{
            margin-right: 5px;

            .week-statistic-entry-col{
                display: flex;
                flex-direction: column;

                &.change-negative{
                    background-color: $negative;
                }
                &.change-positive{
                    background-color: $positive;
                }
                &.change-none{
                    background-color: $neutral;
                }

                padding: 10px;
                margin-right: 5px;
                border-radius: 8px;

                &.zero{
                    font-size: 0.7em;
                }
                &.one{
                    font-size: 0.8em;
                }
                &.two{
                    font-size: 0.9em;
                }
                &.three{
                    font-size: 1.0em;
                }
                &.four{
                    font-size: 1.1em;
                }
                &.five{
                    font-size: 1.2em;
                }
                &.six{
                    font-size: 1.3em;
                }
                &.seven{
                    font-size: 1.4em;
                }
                &.eight{
                    font-size: 1.5em;
                }

                .weekday{
                    text-decoration: underline;
                }

                .change{
                    font-weight: bold;
                }
            }

        }

    }
}

.top-simulator-statistic{
    background-color: $headerColor;
    border: #0a0800 solid 5px;
    border-top: none;
    color: #0a0800;
    padding: 15px;

    .top-simulator-statistic-header{
        margin-bottom: 5px;
        font-size: 1.3em;
        font-weight: bold;
        color: #eeeeee;
    }

    .top-simulator-statistic-container{
        max-width: fit-content;
        font-size: 0.8em;
        font-weight: normal;
        .top-simulator-statistic-entry{
            .week-statistic-entry-col{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                max-width: fit-content;

                .name{
                    a{
                        text-decoration: none;
                        color: #6b0000;
                        font-weight: bold;
                    }
                    padding: 5px;
                    //background-color: #cccccc;
                    border-radius: 8px;
                }

                &.change-negative{
                    background-color: $negative;
                }
                &.change-positive{
                    background-color: $positive;
                }
                &.change-none{
                    background-color: $neutral;
                }

                padding: 10px;
                margin-right: 5px;
                border-radius: 8px;

                &.zero{
                    font-size: 0.7em;
                }
                &.one{
                    font-size: 0.8em;
                    background-color: #DFF0D8;
                }
                &.two{
                    font-size: 0.9em;
                    background-color: #B2EAB2;
                }
                &.three{
                    font-size: 1.0em;
                    background-color: #81D681;
                }
                &.four{
                    font-size: 1.1em;
                    background-color: #5CB85C;
                }
                &.five{
                    font-size: 1.2em;
                    background-color: #3D8E3D;
                }
                &.six{
                    font-size: 1.3em;
                }
                &.seven{
                    font-size: 1.4em;
                }
                &.eight{
                    font-size: 1.5em;
                }

                .weekday{
                    text-decoration: underline;
                }

                .change{
                    font-weight: bold;
                }
            }

        }

    }
}