$headerColor: #2A3954FF;
$neutral: #A28E04D1;
$positive: #769467;
$negative: #FF32324C;
$notRunning: rgba(52, 45, 45, 0.82);

$progressBar: #A28E04D1;

$searchBorder: #a80000;
$targetBackground: #192525;
$targetColor: #cecece;