$headerColor: #2A3954FF;
.simulation-dashboard {
  .header {
    padding: 15px;
    margin: 20px;
    margin-bottom: 0;
    font-size: 4.8em;
    font-weight: bold;
    background-color: $headerColor;
    color: #0a0800;
    border: #0a0800 solid 5px;
  }

  .statistic-panel{
    display: flex;
  }

  .overview{
    border: #0a0800 solid 5px;
    //border-top: none;

    font-size: 2.8em;
    font-weight: bold;
    padding: 15px;
    margin: 20px;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    background-color: $headerColor;
    color: #0a0800;
    max-width: fit-content;
    height: fit-content;
    .finished{
      .finished-value{
        text-decoration: line-through;
      }
    }
    .open{

    }
  }

  .chart-board{
    display: flex;
    margin: 20px;
  }

  .cashbox-chart{
    //min-width: 400px;
    max-width: 600px;
    background-color: $headerColor;
    //max-height: 250px;
    border: 5px solid #0a0800;
    padding: 5px;

    .cashbox-chart-header{
      padding: 5px;
      .total, .active, .inactive, .in-win{
        margin-right: 5px;
        padding: 4px;
        border-radius: 4px;
      }
      .total{
        background-color: #a6a6a6;
      }
      .active{
        background-color: #a6a6a6;
      }
      .inactive{
        background-color: #ff6868;
      }
      .in-win{
        background-color: #415d35;
      }
    }
  }

  .navi {
    padding: 15px;
    margin: 20px;
    font-size: 1.8em;
    font-weight: bold;
    .link{
      max-width: fit-content;
      margin-right: 20px;
      a{
        text-decoration: none;
        color: #0a0800;
      }
      border: 2px solid #0a0800;
      background-color: $headerColor;
      padding: 5px;
    }
  }
  .switchable-content{
    background-color: #ababab;
    padding: 20px;
    margin: 20px;
    //max-width: 50%;

    .switchable-content-element{

    }
  }

  .simulation-dashboard-upcoming {
    .upcoming-fixtures {
      .upcoming-fixtures-entry {
        .content-container {
          display: flex;
          padding: 10px;
          margin: 20px;
          font-size: 1.3em;
          color: #0a0800;

          //odds
          .target, .non-target {
            padding: 5px;
            border-radius: 8px;
            background-color: #ababab;
            color: #0a0800;
            margin-right: 2px;
            font-size: 1.2em;
          }

          // teams
          .teams {
            display: flex;
            flex-direction: column;
          }

          .time {
            display: flex;
            flex-direction: column;

            .date {
              font-weight: bold;
              font-size: 1.3em;
            }
          }

          .result {
            display: flex;
            flex-direction: column;
          }

          .content {
            margin-right: 25px;
          }

          .non-finished {
            display: none;
          }
        }
        .non-started{
          background-color: rgba(243, 196, 196, 0.65);
        }
        .started{
          background-color: rgba(175, 241, 167, 0.38);
        }
      }
    }
  }
}