@import "const";
.simulation-dashboard {
  .header {
    padding: 15px;
    margin: 20px;
    margin-bottom: 0;
    font-size: 4.8em;
    font-weight: bold;
    background-color: $headerColor;
    color: #0a0800;
    border: #0a0800 solid 5px;

    .progress-container {
      position: relative;
      width: 100%;
      height: 50px;
    }

    .progress-bar {
      position: absolute;
      top: 50px;
      left: 0;
      height: 10px;
      width: 0%;
      background-color: $progressBar;
      transition: width 0.5s ease-in-out;
    }

    /* Animation when reaching the target time */
    .progress-bar.fill {
      transition: width 1s ease-in-out;
    }


    .time-left {
      position: absolute;
      //margin-bottom: 10px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.4em;
      color: #333;
    }


  }

  .statistic-panel{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }

  .overview{
    border: #0a0800 solid 5px;
    //border-top: none;

    font-size: 1.7em;
    font-weight: bold;
    padding: 15px;
    margin: 20px;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    background-color: $headerColor;
    color: #0a0800;
    //max-width: fit-content;
    height: fit-content;
    .finished{
      .finished-value{
        text-decoration: line-through;
      }
    }
    .open{

    }
  }

  .chart-board{
    display: flex;
    margin: 20px;
  }

  .cashbox-chart{
    //min-width: 400px;
    max-width: 600px;
    background-color: $headerColor;
    //max-height: 250px;
    border: 5px solid #0a0800;
    padding: 5px;

    .cashbox-chart-header{
      padding: 5px;
      .total, .active, .inactive, .in-win{
        margin-right: 5px;
        padding: 4px;
        border-radius: 4px;
      }
      .total{
        background-color: #a6a6a6;
      }
      .active{
        background-color: #a6a6a6;
      }
      .inactive{
        background-color: #ff6868;
      }
      .in-win{
        background-color: #415d35;
      }
    }
  }

  .navi {
    display: flex;
    padding: 15px;
    margin: 20px;
    font-size: 1.8em;
    font-weight: bold;
    .link{
      max-width: fit-content;
      margin-right: 20px;
      a{
        text-decoration: none;
        color: #0a0800;
      }
      border: 2px solid #0a0800;
      background-color: $headerColor;
      padding: 5px;
    }
  }
  .switchable-content{
    background-color: #ababab;
    padding: 20px;
    margin: 20px;
    //max-width: 50%;

    .switchable-content-element{

    }
  }

  .simulation-dashboard-upcoming {
    .upcoming-fixtures {
      .upcoming-fixtures-entry {
        .content-container {
          display: flex;
          padding: 10px;
          margin: 20px;
          font-size: 1.3em;
          color: #0a0800;

          //odds
          .target, .non-target {
            padding: 5px;
            border-radius: 8px;
            background-color: #ababab;
            color: #0a0800;
            margin-right: 2px;
            font-size: 1.2em;
          }

          .odds{
            .additional-content{
              display: none;
              .over-under-odds{
                display: flex;
                flex-direction: column;
                .over-under-odds-row{
                  display: flex;
                  margin-top: 3px;
                  margin-bottom: 3px;
                  .over-under-odds-row-header, .over-under-odds-row-value{
                    margin-right: 5px;
                    padding: 5px;
                    border-radius: 8px;
                    background-color: #e8e8e8;
                    color: #0a0800;
                    margin-right: 2px;
                    font-size: 1.2em;
                  }
                  .over-under-odds-row-header{
                    background-color: #a49e9e;
                    margin-right: 10px;
                  }
                  .search-target{
                    background-color: #33396c;
                  }
                }
              }
            }
            .collapsed.additional-content {
              display: block;
            }

            .toggle-btn {
              cursor: pointer;
              color: #b4b4d5;
              border: none;
              background: none;
              outline: none;
            }
          }


          // teams
          .teams {
            display: flex;
            flex-direction: column;
          }

          .time {
            display: flex;
            flex-direction: column;

            .date {
              font-weight: bold;
              font-size: 1.3em;
            }
          }

          .result {
            display: flex;
            flex-direction: column;
          }

          .content {
            margin-right: 25px;
          }

          .non-finished {
            display: none;
          }
        }
        .running{
          background-color: $neutral;
        }
        .non-started{
          background-color: rgba(243, 196, 196, 0.65);
        }
        .started{
          background-color: rgba(175, 241, 167, 0.38);
        }
      }
    }
  }
}