@import "const";

.favorite-listing {
  display: flex;
  flex-direction: column;

  .favorite {
    display: flex;
    background-color: #33396c;

    .ident, .cashbox, .created, .bets, .simulators {
      padding: 10px;
      margin-right: 10px;
    }
  }
}

.favorite-detail {
  display: flex;
  flex-direction: column;

  .favorite {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid black;

    background-color: #33396c;
    max-width: fit-content;

    padding: 15px;
    .row {
      display: flex;

      .changeVolume, .bets {
        padding: 10px;
        margin-right: 10px;
      }

      .ident {
        font-size: 1.5em;
      }
    }

  }
}