@import "const";

.favorite-listing {
  padding: 15px;
  display: flex;
  flex-direction: column;

  .favorite {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid black;

    background-color: #33396c;
    max-width: fit-content;

    &.positive {
      background-color: $positive;
    }

    &.negative {
      background-color: $negative;
    }

    padding: 15px;

    .row {
      display: flex;

      .cashbox {
        font-size: 1.8em;
        font-weight: bold;
      }

      .changeVolume, .bets {
        padding: 10px;
        margin-right: 10px;
      }

      .ident {
        font-size: 1.5em;
      }
    }
  }
}

.favorite-detail {
  padding: 10px;
  display: flex;
  flex-direction: column;

  .total {
    font-weight: bold;
    font-size: 1.9em;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: #1a1c17;
    max-width: fit-content;

    &.positive {
      background-color: $positive;
    }

    &.negative {
      background-color: $negative;
    }
  }

  .name {
    font-weight: bold;
    font-size: 2.9em;
    padding: 10px;
  }

  .favorite {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid black;

    background-color: #3a3a3a;
    max-width: fit-content;

    &.positive {
      background-color: $positive;
    }

    &.negative {
      background-color: $negative;
    }

    padding: 15px;

    .row {
      display: flex;

      .changeVolume, .bets {
        padding: 10px;
        margin-right: 10px;
        font-size: 1.5em;
        color: black;
      }

      .changeVolume {
        font-weight: bold;
      }

      .ident {
        font-size: 1.5em;
      }
    }

  }

  .cashbox-chart {
    //min-width: 400px;
    max-width: 600px;
    background-color: $headerColor;
    //max-height: 250px;
    border: 5px solid #0a0800;
    padding: 5px;

    .favorite-list-dynamic-chart {
      .summary {
        font-size: 2.5em;
      }

      .total-balance {
        &.positive {
          background-color: $positive;
        }

        &.negative {
          background-color: $negative;
        }
      }
    }
  }
}

