@import "const.scss";
@import "dashbaord.scss";

$borderSize: 4px;

.simulator-detail-name{
    font-size: 2.9em;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    background-color: $headerColor;
    color: #0a0800;
    border: #0a0800 solid 5px;

}

.simulator-detail-navi {
    padding: 15px;
    margin: 20px;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
    .link{
        margin-right: 20px;
        a{
            text-decoration: none;
            color: #0a0800;
        }
        border: 2px solid #0a0800;
        background-color: $headerColor;
        padding: 5px;
    }
}

.simulator-detail{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    .simulator-detail-widget{
        .simulator-detail-widget-col{
            .simulator-detail-widget-col-e{
                margin-bottom: 10px;
            }
        }

        &.cashbox{
            min-width: 500px;
            font-size: 1.9em;
            font-weight: bold;
        }

        color: black;
        font-size: 1.5em;
        margin-right: 20px;
        margin-bottom: 20px;

        .simulator-detail-widget-header{
            border-top: $borderSize solid black;
            border-left: $borderSize solid black;
            border-right: $borderSize solid black;
            background-color: $headerColor;
            padding: 10px;
            font-weight: bold;

        }
        .simulator-detail-widget-content{
            border-bottom: $borderSize solid black;
            border-left: $borderSize solid black;
            border-right: $borderSize solid black;
            background-color: #5b5b5b;
            padding: 10px;
        }
        .simulator-detail-widget-content-chart{
            @extend .simulator-detail-widget-content;
            min-width: 800px;
        }
    }

    .upcoming-fixtures-detail{
        .upcoming-fixtures {
            .upcoming-fixtures-entry {
                .content-container {
                    display: flex;
                    padding: 10px;
                    margin: 20px;
                    font-size: 1.1em;
                    color: #0a0800;

                    //odds
                    .target, .non-target {
                        padding: 5px;
                        border-radius: 8px;
                        background-color: #e8e8e8;
                        color: #0a0800;
                        margin-right: 2px;
                        font-size: 1.2em;
                    }
                    .target{
                        background-color: #969696;
                    }

                    // teams
                    .teams {
                        display: flex;
                        flex-direction: column;
                    }

                    .time {
                        display: flex;
                        flex-direction: column;

                        .date {
                            font-weight: bold;
                            font-size: 1.3em;
                        }
                    }

                    .result {
                        display: flex;
                        flex-direction: column;
                    }

                    .content {
                        margin-right: 25px;
                    }

                    .non-finished {
                        display: none;
                    }
                }
                .running{
                    background-color: $neutral;
                }
                .non-started{
                    background-color: $notRunning;
                }
                .started{
                    background-color: $neutral;
                }
                .started.non-simulator-won{
                    background-color: $negative;
                }
                .started.simulator-won{
                    background-color: $positive;
                }
            }
        }


    }
}