@import "const";

.fs-entry {
  .content-container {
    display: flex;
    flex-direction: column;

    padding: 10px;
    margin: 20px;
    font-size: 1.1em;
    color: #0a0800;

    $oddCategoryBackground: #7a7a7a;
    $oddNormal: #919191;
    $normalBorder: 2px solid black;

    .upper-col {
      display: flex;

      .check-state {
        display: none;

        &.is-checked {
          display: block;
          background-color: $positive;
          height: fit-content;
        }
      }
    }

    .base-odd {
      display: flex;

      border: 2px solid black;
      max-width: fit-content;
      background-color: $oddCategoryBackground;
      margin-right: 10px;
    }

    .base-odd-row {
      margin-top: 3px;
      margin-bottom: 3px;
      margin-right: 15px;
    }

    .base-odd-row-value {
      margin-right: 5px;
      margin-left: 5px;
      padding: 3px;
      border-radius: 8px;
      background-color: $oddNormal;
      color: #0a0800;
      border: $normalBorder;

      &.is-search {
        border: 3px solid $searchBorder;
        font-weight: bold;
      }

      &.is-target {
        background-color: $targetBackground;
        color: $targetColor;
        font-weight: bold;
      }
    }

    .three-way-odds {
      border: none;
      display: flex;

      .three-way-odds-row {
        display: flex;
        flex-direction: column;
        @extend .base-odd-row;
        margin-right: 2px;

        .three-way-odds-row-value {
          @extend .base-odd-row-value;
        }
      }
    }

    .under-col {
      border-top: 1px solid black;
      font-size: 0.7em;
      display: flex;

      .over-under-odds {
        @extend .base-odd;

        .over-under-odds-row {
          @extend .base-odd-row;
          display: flex;

          .over-under-odds-row-header, .over-under-odds-row-value {
            @extend .base-odd-row-value;
          }

          .over-under-odds-row-header {
            background-color: $oddCategoryBackground;
            border: none;
            margin-right: 10px;
          }
        }
      }

      .both-teams-score-odds {
        @extend .base-odd;

        .both-teams-score-odds-row {
          @extend .base-odd-row;
          display: flex;

          .both-teams-score-odds-row-value {
            @extend .base-odd-row-value;
          }
        }
      }

      .head-to-head-odds {
        @extend .base-odd;

        .head-to-head-odds-row {
          @extend .base-odd-row;
          display: flex;

          .head-to-head-odds-row-value {
            @extend .base-odd-row-value;
          }
        }
      }
    }

    // teams
    .teams {
      display: flex;
      flex-direction: column;
    }

    .time {
      display: flex;
      flex-direction: column;

      .date {
        font-weight: bold;
        font-size: 1.3em;
      }
    }

    .result {
      display: flex;
      flex-direction: column;
    }

    .content {
      margin-right: 25px;
    }

    .non-finished {
      display: none;
    }
  }

  .running {
    background-color: $neutral;
  }

  .non-started {
    background-color: $notRunning;
  }

  .started {
    background-color: $neutral;
  }
}