<div{{ attributes }}>
    <div class="simulator-place">
        <div class="simulator-detail-name active">
            <i class="fa-solid fa-cash-register"></i>
            {{ this.simulatorIdents|raw }}
        </div>
        <div class="simulator-detail">
            <div class="simulator-detail-widget">
                <div class="upcoming-fixtures-detail">
                    <div class="upcoming-fixtures">
                        <div class="upcoming-fixtures-entry">
                            {{ this.beton|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
