<div{{ attributes }}>
    <div class="upcoming-fixtures">
        {% for fixture in this.rows %}
            <div class="upcoming-fixtures-entry">
                {{ fixture|raw }}
            </div>
        {% endfor %}
    </div>
</div>
